*{
  appearance: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  background-image:url('../imgs/background2.png');
  background-repeat:repeat-y;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
  height: 100%;
}

header{
  background: white;
  height:100%;
  width: 100%;
}
#logo{
  position: fixed;
  /* top:60px; */
  margin-top:-20%;
  
  width:100px;
  height:50px;

}

.logo{
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 20px;
}

.hr-title{
  margin-top:0px;
  position: relative;
  height: 2px;
  background: #0A4182;
  margin-bottom: 30px;
}

.container{
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  border: 2px solid #0a408200;
  border-radius: 30px 30px 0 0;
  background: radial-gradient(circle, rgba(10, 64, 130, 0.829) 56%, rgb(16, 76, 150) 100%);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  box-shadow: 5px 28px 51px 21px;
  height: 75%;
  width:100%;
  margin-top:9px;
  margin-left:auto;
  margin-right:auto;
  position:fixed;
  bottom:0;
}

.fa-solid.fa-user, .fa-solid.fa-car, .fa-solid.fa-clock{
  color:white;
  
}

.fa-location-dot:before{
  padding:3px;
}

.fa-solid.fa-warehouse{
  position:fixed;
  margin-left:245px;
  margin-top:-17px;
  /* bottom:526px; */
  /* z-index: 1; */
  /* top:152px; */
  color:#0A4182;
}

.divisao{ /*centralizar icone garagem*/
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}


/* .menu-nav{
    width:100%;
    display:inline-flex;
    justify-content: space-around;
}

.btn-stats{
    font-size:1rem;
} */

#name{
    width:199px;
    display: inline;
    padding:7px 0 6px 15px;
    height:30px;
    border-radius: 10px;
}

#placa{
  width:197px;
  display: inline;
    padding:7px 0 6px 15px;
    height:30px;
    border-radius: 10px;

}

#vaga{
  width:198px;
  padding:6.5px 0 5px 15px;
  height:30px;
  border-radius: 10px;
}

#hour{
  width:210px;
  padding:7.4px 0 6.25px 2px;
  height:30px;
  border-radius: 10px;
}

#bg{
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  position: absolute;
  width: 150%;
  height: 8000px;
  background: rgba(0, 0, 0, 0.61);
  margin-top: -100%;
  z-index:1;
}

.label-icon{
  /* border-top: 0.4px solid #636363;
  border-left: 0.4px solid #636363;
  border-bottom: 0.4px solid #636363;  */
  box-shadow: 0 0 8px 0 rgb(0, 41, 88);
  background: #ffffff;
  padding: 0 0 0 9px;
  border-radius: 10px;
  margin-bottom:35px;
}


/*inputs*/
.input-form{
  /* margin-left:30px;
  margin-right:30px; */
  /* width:100%; */
  /* position: relative; */
  /* display:flex;
  flex-direction: column; */
  /* flex-wrap: wrap; */
  /* margin-left:15px; */
  margin-top:30px;
  /*padding:
  margin-bottom: 30px; */
  border-radius: 10px;
  
}

.fa-solid.fa-user{
    margin-left:3px;
    color:#0A4182;
}

.fa-solid.fa-car{
  margin-left: 3px;
  color: #0A4182;
}

.fa-solid.fa-location-dot{
  color: #0A4182; 
}

.fa-solid.fa-clock{
  margin-left: 3px;
  color: #0A4182;
}

/*pop-up*/
#pop-up{
display: -webkit-flex;
display: flex;
-webkit-justify-content: center;
justify-content: center;
position: fixed;
bottom: 130px;
width: 90%;
height: 450px;
border: 2px solid white;
border-radius:15px;
background: #0A4182;
z-index:2;
}

.message{
color:white;
font-family: 'Roboto', sans-serif;
margin-top:250px;
font-size:1.2rem;
padding:5px;
}

.fa-regular.fa-circle-check{
  color:greenyellow;
  position:absolute;
  top:100px;
}

.fa-regular.fa-face-sad-tear.fa-2xl{
  color: white;
  position: absolute;
  top: 100px;
}

/*button reservar*/
.center{
display: -webkit-flex;
display: flex;
-webkit-justify-content: center;
justify-content: center;
margin-top:50px;
}

.button {
  margin-bottom:30px;
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.767);
  border-radius:10px;
}
  
.button, .button__icon, .button__text {
  transition: all 0.3s;
}
  
.button .button__text {
  transform: translateX(30px);
  color: #0A4182;
  font-weight: 600;
}
  
.button .button__icon {
  position:absolute;
  transform: translateX(109px);
  height:100%;
  width:33px;
  background-color:white;
  display:-webkit-flex;
  display:flex;
  -webkit-align-items:center;
  align-items:center;
  -webkit-justify-content:center;
  justify-content:center;
  border-radius:8px;
}
  
.button .svg {
  width:30px;
  stroke:#0A4182;
}

.button:hover {
  background:white;
}

.button:hover .button__text {
  color:transparent;
}

.button:hover .button__icon {
  width:143px;
  transform:translateX(0);
}

.button:active .button__icon {
  background-color:white;
}

.button:active {
  border:1px solid white; 
}

/*button pop-up*/
.cssbuttons-io-button {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  background: white;
  color: #0a4182;
  font-family: 'Roboto', sans-serif;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  box-shadow: inset 0 0 1.6em -0.6em #0a4182;
  overflow: hidden;
  position: fixed;
  bottom:167px;
  height:2.8em;
  padding-right:3.3em;
  width:70%;
  cursor:pointer;
}
  
.cssbuttons-io-button .icon {
  background:white;
  margin-left:1em;
  position:absolute;
  display:-webkit-flex;
  display:flex;
  -webkit-align-items:center;
  align-items:center;
  -webkit-justify-content:center;
  justify-content:center;
  height:2.2em;
  width:2.2em;
  border-radius:0.7em;
  box-shadow:0.1em 0.1em 0.99em 0.1em #0a4182; 
  right:0.3em; 
  transition:all .3s; 
}

.cssbuttons-io-button:hover .icon {
  width:calc(100% - .6em);
}

.cssbuttons-io-button .icon svg {
  width:1.1em; 
  transition:transform .3s; 
  color:#0a4182; 
}

.cssbuttons-io-button:hover .icon svg {
  transform:translateX(.1em); 
}

.cssbuttons-io-button:active .icon {
  transform:scale(.95); 
}

@media screen and (min-width:650px){
  body{
      background-image:url('../imgs/background.jpeg');
      background-size:contain; 
  }
}

.direction{
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex-direction: -webkit-column;
  width: 100%;
}