*{
    appearance: none;
}
  
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
line-height: 1;
/* background-image:url('../imgs/background2.png'); */
background-repeat:repeat-y;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html{
    height: 100%;
    background: -webkit-radial-gradient(circle, rgb(10, 64, 130) 56%, rgb(11, 60, 119) 100%);
    background: radial-gradient(circle, rgb(10, 64, 130) 56%, rgb(11, 60, 119) 100%);
    
}

.vagas{
    display: flex;
    justify-content: space-between;
    width:100%;
    padding:10px 0px 0px 0px;
}

button{
    /* width:100%; */
    height:80px;
    border-radius: 5px;
    margin-bottom:15px;
    /* margin-top:30px; */
    width:45%;
    border:none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.466);
    color:black;

}

.division{
    display: flex;
    justify-content: start;
    width:45%;
    position: fixed;
    top:92px;
    border: 3px solid orange;
}

.division-1{
    display: flex;
    justify-content: end;
    width:45%;
    position: fixed;
    right:0;
    top:92px;
    border: 3px solid orange;
}

.division3{
    display: flex;
    justify-content: start;
    width:45%;
    position: fixed;
    top:196px;
    border: 3px solid orange;
}

.division3-3{
    display: flex;
    justify-content: start;
    width:45%;
    position: fixed;
    right:0;
    top:196px;
    border: 3px solid orange;
}


.division5{
    display: flex;
    justify-content: start;
    width:45%;
    position: fixed;
    top:301px;
    border: 3px solid orange;
}

.division5-5{
    display: flex;
    justify-content: start;
    width:45%;
    position: fixed;
    right:0;
    top:301px;
    border: 3px solid orange;
}


.division6{
    display: flex;
    justify-content: start;
    width:45%;
    position: fixed;
    top:407px;
    border: 3px solid orange;
}

.division6-6{
    display: flex;
    justify-content: start;
    width:45%;
    position: fixed;
    right:0;
    top:407px;
    border: 3px solid orange;
}


.division-last{
    display: flex;
    justify-content: start;
    width:45%;
    position: fixed;
    top:518px;
    border: 3px solid orange;
}

.division-last-2{
    display: flex;
    justify-content: start;
    width:45%;
    position: fixed;
    right:0;
    top:518px;
    border: 3px solid orange;
}

.t{
    position:fixed;
    border:4px solid orange;
    height:5px;
    right: 45%;
    top:96px;
    background:orange
}


.t-2{
    position:fixed;
    border:4px solid orange;
    height:5px;
    right: 53%;
    top:96px;
    background:orange
}

.t-3{
    position:fixed;
    border:4px solid orange;
    height:5px;
    right: 53%;
    top:200px;
    background:orange
}

.t-3-3{
    position:fixed;
    border:4px solid orange;
    height:5px;
    right: 45%;
    top:200px;
    background:orange
}

.t-5{
    position:fixed;
    border:4px solid orange;
    height:5px;
    right: 53%;
    top:305px;
    background:orange
}

.t-5-5{
    position:fixed;
    border:4px solid orange;
    height:5px;
    right: 45%;
    top:305px;
    background:orange
}

.t-6{
    position:fixed;
    border:4px solid orange;
    height:5px;
    right: 53%;
    top:411.2px;
    background:orange
}

.t-6-6{
    position:fixed;
    border:4px solid orange;
    height:5px;
    right: 45%;
    top:411.2px;
    background:orange
}

.t-last{
    position:fixed;
    border:4px solid orange;
    height:5px;
    right: 53%;
    top:514px;
    background:orange
}

.t-last-2{
    position:fixed;
    border:4px solid orange;
    height:5px;
    right: 45%;
    top:514px;
    background:orange
}



#bg{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items:center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.61);
    z-index:1;
    position: absolute;
  }
  
  #loading{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items:center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.61);
    z-index:2;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
  }
    
  
  .text-loading{
    margin-bottom:25px;
    font-size:35px;
    color:white;
  }
  
  .loading-spinner {
    position: fixed;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: 8em;
  }
    
  .loading-spinner-inner {
    display:-webkit-flex;
    display: flex;
    -webkit-align-items:center;
    align-items: center;
    -webkit-justify-content:center;
    justify-content: center;
  }
    
  .loading-spinner-circle {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #ffffff;
    margin: 0 5px;
    animation: loading-spinner 1s ease-in-out infinite;
  }
    
  .loading-spinner-circle:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .loading-spinner-circle:nth-child(3) {
    animation-delay: 0.4s;
  }
  
  .loading-spinner-circle:nth-child(4) {
    animation-delay: 0.6s;
  }
  
  .loading-spinner-circle:nth-child(5) {
    animation-delay: 0.8s;
  }
  
  @-webkit-keyframes loading-spinner {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  
    20% {
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
      opacity: 0.5;
    }
  
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }
  
  @keyframes loading-spinner {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  
    20% {
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
      opacity: 0.5;
    }
  
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }  

  @media screen and (min-width:650px){
    button{
      width:300px;
    }
    .division{
      display: flex;
      justify-content: start;
      width:45%;
      position: fixed;
      top:92px;
      border: 3px solid orange;
  }
  
  .division-1{
      display: flex;
      justify-content: end;
      width:45%;
      position: fixed;
      right:0;
      top:92px;
      border: 3px solid orange;
  }
  
  .division3{
      display: flex;
      justify-content: start;
      width:45%;
      position: fixed;
      top:196px;
      border: 3px solid orange;
  }
  
  .division3-3{
      display: flex;
      justify-content: start;
      width:45%;
      position: fixed;
      right:0;
      top:196px;
      border: 3px solid orange;
  }
  
  
  .division5{
      display: flex;
      justify-content: start;
      width:45%;
      position: fixed;
      top:301px;
      border: 3px solid orange;
  }
  
  .division5-5{
      display: flex;
      justify-content: start;
      width:45%;
      position: fixed;
      right:0;
      top:301px;
      border: 3px solid orange;
  }
  
  
  .division6{
      display: flex;
      justify-content: start;
      width:45%;
      position: fixed;
      top:407px;
      border: 3px solid orange;
  }
  
  .division6-6{
      display: flex;
      justify-content: start;
      width:45%;
      position: fixed;
      right:0;
      top:407px;
      border: 3px solid orange;
  }
  
  
  .division-last{
      display: flex;
      justify-content: start;
      width:45%;
      position: fixed;
      top:518px;
      border: 3px solid orange;
  }
  
  .division-last-2{
      display: flex;
      justify-content: start;
      width:45%;
      position: fixed;
      right:0;
      top:518px;
      border: 3px solid orange;
  }  
  }
  











/* tr, td{
    display: flex;
    justify-content: space-between;
    margin-bottom:10px;
    /* width: 100%;
    height:100%;
}*/
